/* Modal Content */
html,tbody, body{
    height: 100%;
    margin: 0;

}
body{
    display: flex;
    flex-direction: column;
}
.main_body{
    height: 100%;
    flex: 1 0 auto;

}
.footer {
    flex-shrink: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */

    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    display:block;
    width: 50%;
    max-height:1200px;
    height:90%;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index:1;
    font-size: 40px;
}

/* Position the "next button" to the right */
.next {
    justify-content: center;
   text-align: right;
    justify-items: center;
    top:50px;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    top: 50px;
    left: 0px;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {

    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    filter: invert(100%);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 1;
    display: none;
}

.active,
.demo:hover {
    opacity: 1;
    display:none;
}


.expand{
    position: absolute;
    display: block;
    padding:5px 5px 5px 5px;
    bottom: 30px;
    right: 30px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    filter: invert(50%);
    z-index:2;

}
.expand:hover,
.expand:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    filter: invert(100%);

}

html,
body{
    min-width: 550px;
}

.first_buttons a, .button_main{
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    height:20px;
    width:100px;

}
.language_button{
    height:28px;
    width:28px;
}
.information{

    padding:5px
}
a{
    color: #0b3df0;
    text-decoration: none;
    text-underline: none;
}
a:hover, a:active{
    color: #0c5460;
    text-decoration: none;!important;
    text-underline: none;!important;

}
p{
    margin-bottom: 5px;
}

.list-inline{display:block;}
.list-inline li{display:inline-block;}
.list-inline li:after{content:'•'; margin:0 5px;}

.extra{
    display: flex;
    width:20%;
}
.main{
    display:flex;
    width: 75%;
}
b{
    margin:0 0 0 0;
}
.highlight{
    margin-bottom: 10px;
}
.column2list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
}
.footer{
    margin-top: 10px;
    border: double;
}
#newsH{
    margin-top: 5px;
    background-color: #191d40;
}
.selling{
    display: block;
    border: double;
    margin-top:20px;
    background-color: #0c5460;
    padding:5px 5px 5px 5px;
    font-size: 0.9rem;
    line-height: 1.1rem;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.simplebox{
    display: block;
    border: double;
    margin-top:20px;
    padding:5px 5px 5px 5px;
    font-size: 0.9rem;
    line-height: 1.1rem;

}
.side_simplebox{
    display: block;
    margin-top:10px;
    font-size: 0.9rem;
    padding:5px 5px 5px 5px;
    font-style: oblique;
    line-height: 1.1rem;

}


.pics{
    font-style: oblique;
    border:double;
    border-color: #0c5460;
    font-size: 0.9rem;
    line-height: 1.1rem;

}
.side_panel{
    margin-bottom: 10px;
}
@media screen and (max-device-width : 400px)
{
    p
    {
        font-size:10px;
    }
}
@media screen and (max-device-width : 1200px) {
    p {
        font-size: 10px;
    }
}
.cities{
    border: double;
    padding:10px 10px 10px 10px;
    background-color: #0c5460;
    margin-bottom: 0px;
    font-size: 0.9rem;
    line-height: 1.1rem;
}
.contacts {
    border: double;
    padding:10px 10px 10px 10px;
    background-color: #0c5460;
    font-size: 0.9rem;
    line-height: 1.1rem;
}
.photos{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.photo:focus{
    opacity: 0.7;
    transform: scale(1.03);
    cursor: pointer;

}
.head{
    width: 100%;
}